<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ProductionDB" connectionString="Data Source=NB21-6CDPYD3\SQLEXPRESS;Initial Catalog=AdresbeheerADO;Integrated Security=True"/>
		<add name="TestDB" connectionString="Data Source=NB21-6CDPYD3\SQLEXPRESS;Initial Catalog=AdresbeheerTest;Integrated Security=True;TrustServerCertificate=true"/>
	</connectionStrings>
	<appSettings>
		<add key="DataLayer" value="EFCore"/>
	</appSettings>
</configuration>